<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h2 class="logo">To<span>Dodo</span></h2>
        <div class="stats">
            <h2 class="stats__title">{{"Текущие задачи: " + tasks.length}}</h2>
            <transition-group name="fade">
                <task @task_done="delete_task(index)" :data="data" v-for="(data, index) in tasks" :key="index" v-if="show"></task>     
            </transition-group>
        </div>
        <div class="add_task">
            <div class="add_task__input">
                <input type="text" v-model="new_task.title" placeholder="Новая задача">
                <textarea v-model="new_task.desc" placeholder="Описание"></textarea>
            </div>
            <button @click="add_task()" class="add_task__btn">+</button>
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>



